/* DESCRIPTION */
#about-me {
    padding: 2.5rem;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    margin-top: 7rem;
    overflow: auto;
}

.about-me-text {
    color: steelblue;
    max-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.about-me-title {
    font-size: 40px;
    margin-bottom: 7px;
}

.about-me-subtitle {
    margin-top: 7px;
    font-size: 20px;
}

.about-me-text > p {
    font-size: 20px;
}

.about-me-photo-wrapper {
    padding: 1rem;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
}

.about-me-photo {   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* TIMELINE */
.timeline-wrapper {
    position: relative;
    max-width: 1080px;
    margin: auto;
    padding: 1rem 0;
}

/* LINE */
.timeline-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: steelblue;
    border-radius: 30px;
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

/* FREE SPACE IN EVERY ROW */
.timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-block:last-child {
    margin-bottom: 0;
}

/* ORB */
.timeline-orb {
    background: rgb(53, 98, 136);
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px steelblue, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline-content {
    position: relative;
    /* tylko dla malego ekranu te marginy */
    margin-left: 60px;
    margin-right: 30px;
    background: #9d9fa1ef;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 16rem;
}

.timeline-content h2 {
    color: rgb(255, 255, 255);
    margin-top:0;
    margin-bottom: 5px;
}

.timeline-content p, .timeline-content {
    color: steelblue;
    font-size: 0.8125rem;
}

.timeline-content p {
    line-height: 1.6;
}

/* ARROW */
.timeline-content::before {
    content: '';
    position: absolute;
    right: 100%;
    border: 7px solid transparent;
    border-right: 7px solid #9d9fa1ef;
}

.timeline-content-info {
    background: steelblue;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0.2rem;
}

.timeline-content-info-title, .timeline-content-info-date {  
    width: calc(50% - 2px);
    display: inline-block;
}

.timeline-content-info-date svg, .timeline-content-info-title svg {
    margin-top: -3px;
}

.timeline-content-skills {
    font-size: 0.75rem;
    padding: 0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.timeline-content-skills li {
      background: #40484D;
      border-radius: 0.2rem;
      display: inline-block;
      padding: 2px 10px;
      color: rgb(255, 255, 255);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
}

@media only screen and (min-width: 1420px) {
    .about-me-wrapper {
        flex-direction: row;
    }

    .about-me-text {
        text-align: left;
    }

    .timeline-wrapper {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .timeline-wrapper::before {
      left: 50%;
      margin-left: -2px;
    }

    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    
    .timeline-block:nth-child(even) .timeline-content::before {
        left: auto;
        border-color: transparent;
        border-right-color: #9d9fa1ef;
    }
    
    .timeline-orb {
        width: 30px;
        height: 30px;
        left: 50%;
        top: -0.1%;
        margin-left: -15px;
        margin-top: 15px;
    }

    .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #9d9fa1ef;
    }

    .timeline-content {
        color: white;
        padding: 1.1rem;
        width: 36%;
        margin: 0 5%
    }

}