.about-me-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;
}

.about-me-text {
    flex-grow: 1.5;
    color: steelblue;
}

.about-me-text > h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-me-text > p {
    font-size: 20px;
}

.about-me-photo-wrapper {
    flex-grow: 1;
    box-sizing: border-box;
}

.about-me-photo {   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}