#home {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-photo {
    border-radius: 50%;
}

.home-sign-wrapper {
    color: steelblue;
    text-align: center;
}