#services {
    padding: 2.5rem;
}

.services-wrapper {
    margin-top: 7rem;
}

.services-sign {
    color: steelblue;
    text-align: center;
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services-element {
    border: 2px solid #f3f1f1;
    text-align: center;
    margin: 2.5rem;
    padding: 2.5rem;
    box-sizing: border-box;
    width: 330px;
    box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.8);
}

.services-element-wrapper {
    transition: all .4s ease-in-out;
}

.services-element:hover > .services-element-wrapper {
    transform: scale(1.1);
}

.services-element h1 {
    color: steelblue;
    font-size: 30px;
}

.services-element-icon {
    color:#888;
}

.circle-medium {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #888;
    padding: 1.2rem 1.2rem;
    width: 2.5rem !important;
}

@media only screen and (max-width: 520px) {
    #services {
        padding: 2rem;
    }
    
    .services-element {
        margin: 2rem;
        padding: 2rem;
        width: 250px;
    }
    
    .services-element h1 {
        font-size: 25px;
    }
    
    .circle-medium {
        padding: 1rem 1rem;
        width: 2.2rem !important;
    }
}