.sidebar-wrapper {
    position: fixed;
    /* float: left; */
    left: 0;
    top: 0;
    padding: 0 2.4rem 2.4rem 2.4rem;
    width: 12rem;
    height: 100%;
    background: #9d9fa1ef;
    text-align: right; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-wrapper nav > ul {
    list-style: none;
    /* padding: 0; */
}

.sidebar-wrapper nav > ul > li {
    margin: 1.8rem 0;
    position: relative;
}

.sidebar-wrapper nav a {
    transition: color 0.5s ease;
    color: steelblue;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.25em;
    line-height: 1.5;
    padding: 1rem 0;
    text-decoration: none;
}

.sidebar-wrapper nav a:hover {
    color: rgb(255, 255, 255);
} 

.sidebar-wrapper nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.sidebar-wrapper nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

@media only screen and (max-width: 1024px) {
    .sidebar-wrapper {
        display: none;
    }
}