.skills-wrapper {
    margin: 7rem 2.5rem 0 2.5rem;
}

.skills-sign {
    color: steelblue;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-element {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 200px;
    transition: all .2s ease-in-out;
    color: gray;
}

.skills-element:hover {
    transform: scale(1.015);
}

.python:hover {
    color: #4B8BBE;
}

.django:hover {
    color: #092E20;
}

.celery:hover {
    color: #9DCE5C;
}

.postgresql:hover {
    color: #0064a5;
}

.elasticsearch:hover {
    color: #66b5ae;
}

.docker:hover {
    color: #0db7ed;
}

.html5:hover {
    color: #e34c26;
}

.css3:hover {
    color: #2965f1;
}

.javascript:hover {
    color: #F0DB4F;
}

.typescript:hover {
    color: #3178C6;
}

.react:hover {
    color: #61DBFB;
}

.bootstrap:hover {
    color: #080135;
}

.git:hover {
    color: #F1502F;
}

.linux:hover {
    color: #333333;
}

.heroku:hover {
    color: #6762A6;
}